#back3{
    -fx-background-image: url('icons8-back-48.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px; /* Adjust the size of the icon as needed */
    -fx-background-position: center; /* Center the icon within the button */
    -fx-text-fill: transparent; /* Hide the text */
    -fx-graphic-text-gap: 5px; /* Adjust the gap between the icon and text as needed */
    -fx-transition: box-shadow 0.15s;
    -fx-background-color: transparent;
}
#back3:pressed {
    box-shadow: 15px 15px 15px;
    -fx-background-color: #77cbc8;
}
.root{
    -fx-background-color: #b2e3e1;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#TidLablel{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);

}
#TnameLabel{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);

}
#TtypeLabel{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);

}
#TdateLabel{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);

}
#TtypeID{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);
}
#EidLabel{
    -fx-font-family: "Arial Black", Arial, sans-serif;

    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);
}
#TLabel {

    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%, purple 0%, purple 50%, #5e4872 50%, #5e4872 100%);
}


#addBtn{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-background-color: #5e4872;
    -fx-background-radius: 5px;
    -fx-text-fill: white;}
#deleteBtn{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-background-color: #5e4872;
    -fx-background-radius: 5px;
    -fx-text-fill: white;}
#updateBtn{
    -fx-font-family: "Arial Black", Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
    -fx-background-color: #5e4872;
    -fx-background-radius: 5px;
    -fx-text-fill: white;}

#clearBtn{
    -fx-background-image: url('https://pics.freeicons.io/uploads/icons/png/130318831316313447244152-512.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px; /* Adjust the size of the icon as needed */
    -fx-background-position: center; /* Center the icon within the button */
    -fx-text-fill: transparent; /* Hide the text */
    -fx-graphic-text-gap: 5px; /* Adjust the gap between the icon and text as needed */
    -fx-transition: box-shadow 0.15s;
    -fx-background-color: transparent;}
#clearBtn:pressed {
    box-shadow: 15px 15px 15px;
    -fx-background-color: #77cbc8;
}



